{
  "interval": 20,
  "symbols": [
    {
      "symbol": "ASPI",
      "prices": [
        5.0
      ]
    },
    {
      "symbol": "HUMA",
      "prices": [
        0.92,
        1.0
      ]
    },
    {
      "symbol": "QTRX",
      "prices": [
        5.5
      ]
    },
    {
      "symbol": "OUST",
      "prices": [
        15.0,
        17.5
      ]
    },
    {
      "symbol": "ADUR",
      "prices": [
        10.0
      ]
    }
  ]
}