{
    "duration": 1,
    "interval": 10,
    "symbols": [
        {
            "symbol": "ASPI",
            "prices": [5]
        },
        {
            "symbol": "HUMA",
            "prices": [1]
        },
        {
            "symbol": "QTRX",
            "prices": [5.5]
        },
        {
            "symbol": "OUST",
            "prices": [17]
        },
        {
            "symbol": "ADUR",
            "prices": [10]
        }
    ]
}
